<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Studio Licata</title>
	<link rel="icon" href="https://scontent.fltn2-1.fna.fbcdn.net/v/t1.0-9/79637904_10157105232547872_7679207491510468608_n.png?_nc_cat=108&_nc_sid=85a577&_nc_ohc=NyurjkIcN94AX8Z4_DZ&_nc_ht=scontent.fltn2-1.fna&oh=5c64db2f5d9d3abbd714fa638476ccfe&oe=5EEB4DB6" type="image/x-icon"> 
	   <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="/stylesheets/main.css">
	<script src="https://kit.fontawesome.com/9fc2e91bb2.js" crossorigin="anonymous"></script>
	  <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@300;500;700&display=swap" rel="stylesheet">
	  <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/flag.min.css" rel="stylesheet">
	  <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/button.min.css" rel="stylesheet">
	  <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/icon.min.css" rel="stylesheet">
</head>
<body>
	<div>

	<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="/eng"><img id="brand" src="https://scontent.fltn2-1.fna.fbcdn.net/v/t1.0-9/79637904_10157105232547872_7679207491510468608_n.png?_nc_cat=108&_nc_sid=85a577&_nc_ohc=NyurjkIcN94AX8Z4_DZ&_nc_ht=scontent.fltn2-1.fna&oh=5c64db2f5d9d3abbd714fa638476ccfe&oe=5EEB4DB6" > <span id="brand_name">Studio Licata</span> </a>
		<a href="/"><i class="it flag" ></i></a>
		<a href="/eng"><i class="gb uk flag"></i></a>
		<a href="/eng/booking" class="btn btn-outline-warning my-2 my-sm-0" type="submit">Book</a>		
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="/eng/gallery">Gallery</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/eng/staff">Staff</a>
				</li>
				 <li class="nav-item">
					<a class="nav-link" href="/eng/services">Services</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/eng/contacts">Location & Contacts</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Speak about us</a>
				</li>
			</ul>
			<ul id="FBnav" class="navbar-nav mr-auto">
				<li  class="nav-item navbar-text">
					<a href="https://www.facebook.com/drmarcolicata/" class="ui tiny facebook button">
						<i class="facebook icon"></i>
						Facebook
					</a>
				</li>
			</ul>
		</div>
	</nav>

	</div>
	
	<main role="main">